!!!
%html
	%head
		%title Tweedehands Vleugels
		%meta{:"http-equiv" => "content-type", content:"text/html; charset=utf-8"}
		%link{rel:"stylesheet", href:"assets/css/bootstrap.min.css", type:"text/css", media:"screen"}
		%link{rel:"stylesheet", href:"assets/css/master.css", type:"text/css", media:"screen"}
		%script{src:"https://code.jquery.com/jquery.min.js"}
		%script{src:"assets/js/bootstrap.min.js"}
		%script{src:"assets/js/main.js"}
	
	%body
		.container
			!= render_partial('header', page:page)
			.row.content_container
				!= render_partial('leftPanel')
				!= render_partial('midPanel', page:page)
				!= render_partial('rightPanel')
