.blog-post
	:markdown
		### Auteur ###

		<img src="assets/img/auteur.jpg" class="large" title="&copy; Karolien Coenen"/>
		Vanessa Gerrits (°11/12/1989) werd geboren en woont nog steeds in de Belgisch-Limburgse appelhoofdstad Sint-Truiden. 

		In 2010 behaalde ze haar Professionele Bachelor Journalistiek, waarna ze al snel besefte dat schrijven over feiten toch niet helemaal haar ding was. Fictie en fantasie daarentegen, zitten haar in het jonge bloed.  
		Sindsdien schrijft en publiceert ze fantasyverhalen voor young adults: een vleugje volwassen worden, met een stevige portie jeugdige verbeeldingskracht. Momenteel heeft ze twee YA-boeken op haar naam staan: Tweedehands Vleugels (2013) en Zilveren Vleugels (2014). 

		Wanneer ze niet aan haar eindeloze stapel manuscripten werkt, runt Vanessa de boekenblog  
		['Mijn B.I.E.B.']('https://mijnbreiniseenboekenkast.wordpress.com')  
		 en is ze professioneel actief in de marketing- en communicatiesector als copywriter.  

		<p class="center">***</p>

		### Weetjes over mij ...###
		* ... Mijn favoriete auteurs zijn Colleen Houck, Stephenie Meyer, L.A. Weatherly en Josephine Angelini.  ...
		* ... Mijn hobby’s zijn lezen, Netflixen, yoga, zwemmen, (digitaal) tekenen met mijn Bamboo Wacom Tablet, cinema en mijn bananenbroodrecept perfectioneren. ...
		* ... Mijn lievelingsmuziek is Panic! At the Disco, Lorde, Taylor Swift, Mumford and Sons, Fall Out Boy, Daughter, Fleet Foxes, Sia en filmmuziek/musicalmuziek.
		...
		* ... Ik ben gek op (bijna) alles met chocolade en op katten. ...
