.blog-post
	:markdown
		### Auteur ###
	
		Vanessa Gerrits (11/12/1989) werd geboren, en woont nog steeds, in de Limburgse appelhoofdstad Sint-Truiden.

		In 2010 behaalde ze haar Professionele Bachelor Geschreven Journalistiek aan de XIOS Hogeschool te Hasselt, waar ze al snel ondervond dat schrijven over feiten toch niet helemaal haar ding was. Fictie en fantasie daarentegen, zitten haar wel in het jonge bloed.

		Eind 2010 vatte ze een functie als copywriter aan bij een toonaangevend e-commercebedrijf, waar ze tot op heden haar pen scherp houdt.

		Na de werkuren schrijft ze aan verschillende manuscripten voor young adults in de genres fantasy en dystopian: een vleugje volwassen worden, met een stevige portie jeugdige verbeeldingskracht ...

		<p class="center">***</p>

		Oké, dat is de officiële versie. Mijn minder officiële biografie luidt als volgt: Vanessa Gerrits is een 24-jarige Twihard die vaak hele avonden naar Discovery Channel kijkt, boeken verslindt op haar pendeltraject naar Brussel en verslaafd is aan series zoals The Vampire Diaries, Mr. Selfridge, Revenge, Heart of Dixie, Teen Wolf, Downton Abbey ...

		Samen met Supportive Boyfriend en alle bonte personages in haar hoofd, woont ze te Belgisch- Limburg tussen de appels en de peren. Haar grote droom is om de Vlaamse Stephenie Meyer te worden en dan ook meteen haar eigen Hollywoodverfilming te krijgen met op z’n minst een gastrolletje van Robert en Kristen (please?).

		Maar ze neemt al zéér graag genoegen met een handjevol trouwe lezers met wie ze op [Twitter](https://twitter.com/VleugelsTrilogy) en [Wordpress](http://mijnbreiniseenboekenkast.wordpress.com) over boeken, lezen, schrijven en publiceren kan praten!
