.blog-post
	:markdown
		### Brave New Books ###
		Ik heb gekozen om mijn boek uit te geven via Brave New Books, het selfpublishing platform van bol.com dat openstaat voor alle verhalen, alle auteurs, alle genres.
	
		Had ik mijn debuut liever bij een “echte uitgeverij” gepubliceerd gezien? Ja en neen.
	
		Bij selfpublishing heb je immers heel wat vrijheid die je niet hebt bij een gangbare uitgeverij: ik heb helemaal zelf m’n cover mogen maken, manage mijn eigen marketing- en social media-campagnes en leg zelf mijn prijzen (zo laag mogelijk!) en deadlines (zo laat mogelijk!) vast.
	
		De andere kant van de munt is dan natuurlijk dat je zelf instaat voor je eindredactie en dat je geen groot commercieel draagvlak hebt.
	
		Maar net als mijn hoofdpersonage Lucy, verkies ik de vrijheid.
	
		Het probleem is trouwens ook wat dat veel grote uitgeverijen in deze economische crisistijden geen risico willen nemen met een vrij lijvig manuscript van een jonge debuutauteur in het “nogal moeilijk verkoopbare” fantasy-genre.
	
		Nonsens, toch? Young Adults love fantasy! We like big books and we cannot lie. Toch spelen uitgeverijen het liever op veilig met mainstream misdaadthrillers ... Maar ik geloof oprecht dat Young Adults die graag fantasy lezen wél risico’s durven nemen: een boek zonder uitgeverij lezen (hoest, Tweedehands Vleugels, hoest) is daar hopelijk één van ^^
	
		Ik ben dan ook erg dankbaar dat ik met Brave New Books de kans krijg om mijn boek alsnog aan het grote (Middelgrote? Kleine maar fijne?) publiek voor te stellen. Zelf koop ik ook vaak boeken via bol.com en dat verloopt altijd zeer vlotjes.
	
		Terechtkomen in hun uitgebreide boekenassortiment is natuurlijk ook ‘a dream come true’: je kan met één klik zeg maar Allegiant van Veronica Roth, Shiver van Maggie Stiefvater én Tweedehands Vleugels van Vanessa Gerrits kopen. Hoe cool is dat?
	
		Dus driewerf hoera voor Brave New Books! Surf naar hun [shop](http://www.bol.com/nl/m/nederlandse-boeken/shop-brave-new-books/index.html?Referrer=ADVNLBNB000008RD1212) of lees meer over hun [selfpublishing mogelijkheden](http://www.bol.com/nl/m/nederlandse-boeken/info-brave-new-books/index.html) om ook je eigen boekdromen waar te maken!
