.blog-post
	:markdown
		### Contact ###
		volg me op Twitter: [@VleugelsTrilogy](https://twitter.com/VleugelsTrilogy) (over mijn boeken) en [@Vager](https://twitter.com/VaGer) (personal)

		of ...

		word mijn vriend op [Goodreads](https://www.goodreads.com/user/show/9909048-vanessa)

		of ...

		bekijk mijn artwork op [Deviantart](http://thesearchingeyes.deviantart.com/)

		of ...

		volg me op [tumblr](http://dandelion-and-the-lamb.tumblr.com/)

		of ...

		stuur me gewoon een mailtje via [vanessa.gerrits@gmail.com](mailto:vanessa.gerrits@gmail.com) :)
