.blog-post
	:markdown

		### Contact ###
		Heb je een professionele vraag (interview, aanwezigheid op events, recensie-exemplaar ...), wil je even fangirlen over Max met me of gewoon op de hoogte blijven van alle laatste nieuwtjes over de Vleugels Trilogie?  
		Je kan me altijd mailen via [vanessa.gerrits@gmail.com](mailto:vanessa.gerrits@gmail.com) of me volgen via social media :)

	.center
		.social
			%a{href:"https://www.facebook.com/vleugelstrilogie/"}
				.facebook
			%a{href:"https://twitter.com/VleugelsTrilogy"}
				.twitter
			%a{href:"https://www.instagram.com/vager89/"}
				.instagram
