<iframe src="http://docs.google.com/gview?url=http://vanessagerrits.be/FREECHAPTER.pdf&embedded=true" style="width:100%; height:900px;" frameborder="0"></iframe>

%a{:id=>"rc-edc7e61", :class => "rafl", :href=>"http://www.rafflecopter.com/rafl/display/edc7e61/", :rel=>"nofollow"}
	<img class="easterEgg" src="assets/img/easterEgg.png" alt="happy easter" title="happy easter"/>
	<script src="//d12vno17mo87cx.cloudfront.net/embed/rafl/cptr.js"></script>
