.blog-post
	:markdown
		### Playlist ###
		Sommige liedjes doen onvermijdelijk aan boeken denken. Bij ‘Renegade’ van Paramore denk ik bijvoorbeeld altijd aan Divergent. Zo heb ik ook enkele liedjes die me aan Tweedehands Vleugels doen denken:

		<p class="center"><embed width="420" height="345" src="http://www.youtube.com/v/MeW0Sl0tNS8" type="application/x-shockwave-flash"/></p>
		<p class="center"><embed width="420" height="345" src="http://www.youtube.com/v/O6qutPepOdc" type="application/x-shockwave-flash"/></p>
		<p class="center"><embed width="420" height="345" src="http://www.youtube.com/v/WJTXDCh2YiA" type="application/x-shockwave-flash"/></p>

		Heb je na het lezen van Tweedehands Vleugels een liedje om aan deze lijst toe te voegen? Laat een berichtje achter in het gastenboek en dan voeg ik het liedje toe met jouw naam erbij!
