.blog-post
	:markdown
		### Recensies ###

		#### Anneke, [Een letter meer graag](http://www.eenlettermeergraag.nl/):

		“Ik heb vijf dagen in deze wereld geleefd. Tijdens het lezen zag ik alles als een film gebeuren in mijn hoofd en wanneer ik ‘s avonds in bed lag, was ik met mijn gedachten nog bij het boek, proberend te bedenken hoe het verhaal af zou lopen. Ik kon het verhaal niet loslaten en ik kijk nu al uit naar het volgende deel.” [Lees verder](http://www.eenlettermeergraag.nl/jeugdliteratuur/recensie-tweedehands-vleugels-v-gerrits/)
		<br><br>

		#### Liz, [Pluizenbol](http://www.pluizenbol.nl/)

		“Ik heb nog niet veel verhalen over engelen gelezen, alleen Fallen. En eigenlijk vond ik dit boek beter -en vooral origineler- dan Fallen. Zonde dus dat dit boek in eigen beheer uitgegeven is, want het is goed genoeg voor een uitgeverij en verdient meer aandacht dan het heeft gekregen.” [Lees verder](http://www.pluizenbol.nl/boekenrecensies/recensie-tweedehands-vleugels/)
		<br><br>
		
		#### Lilian, [Booktraveler](http://www.watermelilian.nl/)

		“Tweedehands Vleugels voldeed echt aan mijn verwachtingen. Het verhaal is gewoon goed in elkaar gedraaid, en het is ook nog eens leuk. Én met een flinke dosis romantiek, en daar ben ik ook altijd wel van, haha.” [Lees verder](http://www.watermelilian.nl/?p=2118)
		<br><br>

		#### Patricia, [Nine Sisters](http://www.ninesisters.nl/)

		“Ik kom wel eens personages tegen die zo koppig zijn dat ik me er aan ga ergeren, maar bij Lucy was dat absoluut niet het geval. Ze is echt leuk als hoofdpersonage! En dan hebben we de Kraai… Max! Oh my, wat heb ik me toch een potje zitten zwijmelen bij Max ^^… Yes, I admit it: Ik heb er een nieuwe fictional crush bij! De lijst wordt alleen maar langer…” [Lees verder](http://www.ninesisters.nl/tweedehands-vleugels-vanessa-gerrits-young-adult-fantasy/)
		<br><br>

		#### Noa, [Noa Meijer on Blogspot](http://noameijer.blogspot.be/)

		“Wel heel origineel vind ik alle verschillende karakters en namen (vooral de dubbelnamen), met hun functies en eigenschappen. Zeker omdat je van een engel en een kraai een bepaald beeld hebt. Daarom is fantasie ook zo leuk!” [Lees verder](http://noameijer.blogspot.be/2014/07/tweedehands-vleugels-vanessa-gerrits.html)
		<br><br>

		#### Jacoline, [Wereld achter woorden](http://wereldachterwoorden.wordpress.com/)

		“Ik vond het verhaal erg leuk en pakkend. Het begint op een crisismoment en daardoor zit je je vanaf het begin van het boek af te vragen hoe het verder gaat, wat ervoor zorgt dat het boek moeilijk weg te leggen is. Daarnaast vond ik de wereld van en mythes over de Engelen en Kraaien erg gaaf om over te lezen, het was anders dan anders en ondanks dat je wat dingen herkent uit andere boeken is het boek erg onderscheidend en het verraste me dus met de originaliteit.” [Lees verder](http://wereldachterwoorden.wordpress.com/2014/10/26/review-tweedehands-vleugels-vleugels-1-van-vanessa-gerrits/)
