.blog-post
	:markdown
		### Vleugels trilogie ###
		Voorlopig is Tweedehands Vleugels het enige deel in de Vleugels Trilogie dat je al kan kopen. Jammer hé! De titel van deel twee en drie liggen wel al vast, maar blijven voorlopig nog even geheim ^__^ (Als je Tweedehands Vleugels al las, weet je het misschien wel al ...)

		Hoe dan ook: veel kan ik allemaal nog niet lossen op dit punt, maar “ergens” in 2014 kom ik zeker wel gaandeweg met leuke weetjes, een cover en achterflaptekst op de proppen. Weet gewoon dat ik naarstig aan het schrijven en herschrijven ben zodat ik jullie zo snel mogelijk kan laten weten hoe het de Engel en de Kraai verloopt, ik ben net zo benieuwd als jullie!
