.blog-post
	:markdown
		### Vleugels trilogie ###

		## Tweedehands vleugels ##
		<img class="large" src="assets/img/bookcover.jpg"/>
		__Liefde kan je vleugels geven ... of nemen.__

		*Max heeft nieuwe vleugels nodig. En als Kraai – een wezen dat deels mens, deels monster en deels machine is – kan dat alleen maar door ze te stelen van een ander gevleugeld wezen.*  
		*Een Beschermengel bijvoorbeeld.*

		*Iemand zoals Lucy.*

		*Lucy verliest alles met haar vleugels: haar vrijheid, haar carrière en mogelijk zelfs de ziel van haar Bestemmeling. Maar één veer blijkt genoeg om haar leven terug in handen te krijgen ...*

		*Elk met een verborgen agenda, sluiten de Engel en de Kraai een ongewone alliantie. Er staan levens, harten en vleugels op het spel.*  
		*Maar wat win je als je verliest? En is het het waard?*

		__Tweedehands Vleugels is een romantisch Young Adult-verhaal dat zich afspeelt op Nieuw-Anvers, een fictief eiland waar Engelen en Kraaien over het luchtruim heersen. Fantasy, steampunk en een (on)mogelijke liefde vloeien samen dit eerste deel van de Vleugels Trilogie door Vanessa Gerrits.__

		[Koop het e-book](http://www.bol.com/nl/p/vleugels-1-tweedehands-vleugels/9200000023047325/?bltg=itm_event%3dclick%26pg_nm%3dshop-brave-new-books%26slt_id%3d401%26slt_nm%3d131021-fvm-tl-bnb-ebooks%26slt_pos%3dC4%26slt_owner%3dbm%26itm_type%3dproduct%26itm_lp%3d%26itm_id%3d9200000023047325%26itm_role%3din\&promo=shop-brave-new-books_401_131021-fvm-tl-bnb-ebooks_C2_product__9200000023047325) (slechts € 3,99)  
		[Koop de paperback](http://www.bol.com/nl/p/tweedehands-vleugels/9200000023507566/) (gratis verzending!)  
		Voeg het boek toe aan je to read-lijstje op [Goodreads](https://www.goodreads.com/book/show/19025113-tweedehands-vleugels)!  
		Bloggers mogen gerust een recensie-exemplaar (digitaal) aanvragen!  

	.banner
		<img src="assets/img/tweedehandsvleugelsbanner.jpg"/>

.blog-post
	:markdown
		## Zilveren vleugels ##
		<img class="large" src="assets/img/zilverenvleugelsCover.jpg"/>
		*Een jaar nadat Max Lucy’s vleugels stal (en Lucy Max’ hart stal) is hij vastberadener dan ooit om haar vleugels terug te geven. Dankzij een mechanisch prototype van angellicumzilver zullen de Engel en de Kraai eindelijk samen kunnen vliegen … Of dat is tenminste toch de bedoeling.*

		*Maar Lucy’s gedwongen huwelijk met Beschermengel J.J. en de rol die Max ongewild speelt in een machtsspelletje tussen de Tribalkraaien, staan hun gevleugelde liefdesgeluk in de weg.*

		*Wanneer een oude bekende zich opwerpt als onverwachte nieuwe vijand, staan Lucy en Max recht in het kruisvuur van zijn wraaklust. De werelden van Engelen en Kraaien zijn nog nooit zo nauw met elkaar in aanraking gekomen – zullen ze verenigen, of elkaar vernietigen?*

		[Koop het e-book](http://www.bol.com/nl/p/zilveren-vleugels/9200000038288514/) (slechts € 3,99)  
		[Koop de paperback](http://www.bol.com/nl/p/zilveren-vleugels-deel-2/9200000038284526/) (gratis verzending!)  
		Voeg het boek toe aan je to read-lijstje op [Goodreads](https://www.goodreads.com/book/show/23709627-zilveren-vleugels)!  
		Bloggers mogen gerust een recensie-exemplaar (digitaal) aanvragen!  

	.banner
		<img src="assets/img/zilverenvleugelsbanner.jpg"/>
