.header {
	.navbar{
		height:$navheight;
		text-align:center;
		margin:0 15%;
		padding-top:50px;
		white-space:nowrap;
	}
	a{
		text-decoration:none;
		color:black;
		padding-right:3%;
		padding-left:3%;
		padding-top:170px;
		@include glow(white, 0.5em);
		font-family:BeyondWonderland;
		font-size:3em;
		&:hover{
			@include glow(lighten($hovercolor, 25%), 0.5em);
		}
		&.active{
			@include glow(lighten($hovercolor, 25%), 0.5em);
		}
	}
	img.background{
		width:100%;
		min-height:100px;
		max-height:200px;
		position:absolute;
	}
}
