.widget{
		padding-bottom:10px;
	.logo{
		margin-left:auto;
		margin-right:auto;
		&.square{
			width:60px;
			max-height:60px;
		}
		&.rectangle{
			width:120px;
			max-height:60px;
		}
		img{
			max-width:100%;
			max-height:100%;
			height:auto;
			width:auto;
		}
	}
}
