body{
	margin:0px;
	background-color:initial;
}

.container{
	width:100% !important;
}

#background{
	position:fixed;
	top:0;
	left:0;
}

body {
	background: url(../img/websitebackground.png) no-repeat center center fixed;
	background-size: cover;
}
