body{
	margin:0px;
	background-color:initial;
}

.container{
	width:100% !important;
}

#background{
	position:fixed;
	top:0;
	left:0;
}

html { 
	background: url(../img/websitebackground.jpg) no-repeat center center fixed;
	background-size: cover;
}

.absolute{
	position:absolute;
}
