.row.header
	%img.background{src:"assets/img/websiteheader.png"}
	.col-xs-12
		%nav.beyondWonderland.navbar.topnavbar
			%a.glow{:class=>active(page,"index"),href:"index.html"} Home
			%a.glow{:class=>active(page,"auteur"),href:"auteur.html"} Auteur
			%a.glow{:class=>active(page,"gastenboek"),href:"gastenboek.html"} Gastenboek
			%a.glow{:class=>active(page,"contact"),href:"contact.html"} Contact
			%a.glow{:class=>active(page,"blog"),href:"http://mijnbreiniseenboekenkast.wordpress.com/author/mijnbreiniseenboekenkast/"} Blog
