.col-xs-2.left-panel
	.background.col-xs-2
	.side-image
		%img{src:"assets/img/wings.png"}
	%ul.nav.nav-pills.nav-stacked
		%li
			%a{href:"gratishoofdstuk.html"}Gratis Hoofdstuk
		%li
			%a{href:"vleugelstrilogie.html"}Vleugels Trilogie
		%li
			%a{href:"andereprojecten.html"}Andere Projecten
		%li
			%a{href:"bravenewbooks.html"}Brave New Books
		%li
			%a{href:"playlist.html"}Playlist
