.col-xs-2.right-panel
	.background.col-xs-2
	.widget.book
		%a{href:"http://www.bol.com/nl/index.html"}
	.note Koop het boek op
	!=widget(:rectangle, "http://www.bol.com/nl/p/vleugels-1-tweedehands-vleugels/9200000023047325/", "assets/img/bollogo.png")
	.note Gelezen en goedgekeurd?
	.note Schrijf een recensie op
	!=widget(:rectangle, "https://www.goodreads.com/book/show/19025113-tweedehands-vleugels", "assets/img/goodreadslogo.png")
	.note En volg ons op
	!=widget(:square, "https://twitter.com/vleugelstrilogy", "assets/img/twitterlogo.png")
	.widget.twitter-widget
		%h3 @Vleugelstrilogy
		%h1 What's being said ...
		%a.twitter-timeline{:href => "https://twitter.com/VleugelsTrilogy",
			data:{:"border-color" => "#139488",
				chrome: "noheader nofooter noscrollbar",
				:"widget-id" => "406747275860246528"},
			height:"350"} Tweets by @VleugelsTrilogy
		:javascript
			!function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)){
					js=d.createElement(s);
					js.id=id;
					js.src=p+"://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
			}(document,"script","twitter-wjs");
		twitterlogo, join the conversation
