@mixin glow($color, $width){
		text-shadow: 0px 0px #{$width*2} #{darken($color, 20%)}, 0px 0px #{$width} #{$color}, 0px 0px #{$width/5} #{lighten($color, 50%)};
}

.header {
	.navbar{
		text-align:center;
		margin:0 15%;
		white-space:nowrap;
	}
	a{
		text-decoration:none;
		color:black;
		padding-right:3%;
		padding-left:3%;
		@include glow(white, 0.5em);
		font-family:BeyondWonderland;
		font-size:3em;
		&:hover{
			@include glow(lighten(orange, 25%), 0.5em);
		}
	}
	img.background{
		width:100%;
		min-height:100px;
		max-height:200px;
		position:absolute;
	}
}
