@import "header"

img.background{
	width:100%;
	min-height:100px;
	max-height:200px;
	position:absolute;
}

div {
	.header{
		background-repeat:no-repeat;
		background-size: 100% auto;
	}
	.footer{
		background-color:yellow;
	}
}

.container{
	width:100% !important;
}
